---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Main from '../components/Main.astro';
import Playground from '../components/Playground.astro';

import WASMINIT from "../components/WASMINIT.astro";
import Play from "../components/Play.astro";



---

<WASMINIT />


<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>


		</style>
	</head>
	<body>
		<Header />
<Main>
<section class="flex flex-col items-center">
			<h1 class="mt-16">Bubble</h1>
			<p>
			A friendly new programming language for beginners.		</p>


		<Play initialCode='say "hello world!"' active={true} />



			<div class="flex gap-4">
			<a href="/docs" class="rounded-md  block border text-black p-2 my-8">Learn more</a>
			<a href="/docs" class="rounded-md block text-black border p-2 my-8">See Examples </a>


			</div>
</section>

	</Main>
		<Footer />
	</body>
</html>
